.embla {
    overflow: visible;
    height: 60svh;
    margin: 0;
    margin-bottom: 1.7%;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
}

.next-btn,
.back-btn {
    transition: 0.3s;
}

.next-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(7px);
}

.back-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(-7px);
}

.inPic-btn:hover {
    background-color: #0059a2 !important;
    cursor: pointer;
}

.info-card {
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
}