.embla {
    overflow: hidden;
    height: 60vh;
    margin: 0 5%;
    margin-top: 2%;
    margin-bottom: 1.7%;
}

.embla__container {
    display: flex;
}

.embla__slide {
    flex: 0 0 100%;
}

.next-btn,
.back-btn {
    transition: 0.3s;
}

.next-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(7px);
}

.back-btn:hover {
    cursor: pointer;
    transition: 0.3s;
    transform: translateX(-7px);
}

.inPic-btn:hover {
    background-color: #0059a2 !important;
    cursor: pointer;
}